{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/forecast.css' %}">
{% endblock %}

{% block content %}

    <div id="mainContent">
        <div id="chartArea">
            <div id="cityInfo">
                <h1>{{ city_info.name }}</h1>
                <h1 id="countryName">{{ city_info.country }}</h1>
            </div>

            <div id="chart">
                <!-- Day of the week shown in temperature chart -->
                <div id="weekDayInfo"><p>Mon</p></div>
                <div id="chartContent">There will be chart soon</div>
            </div>
        </div>

        <div id="weekDays">
            {% for date, info in weather_daily_info.items %}
                <div class="dayContainer"><p>{{ info.2|slice:"0:3" }}</p><div><h5>{{ info.0|floatformat:0 }} &deg;C</h5></div></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}