{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/forecast.css' %}">
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'js/weatherChart.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div id="mainContent">
        <div id="chartArea">
            <div id="cityInfo">
                <h1>{{ city_info.name }}</h1>
                <h1 id="countryName">{{ city_info.country }}</h1>
            </div>

            <div id="chart">
                <!-- Day of the week shown in temperature chart -->
                <div id="weekDayInfo"><p>Mon</p></div>
                <div id="chartContent"><canvas id="myChart"></canvas></div>
            </div>
        </div>

        <div id="weekDays">
            {% for date, info in weather_daily_info.items %}
                <div class="dayContainer"><p>{{ info.2|slice:"0:3" }}</p><div><h5>{{ info.0|floatformat:0 }} &deg;C</h5></div></div>
            {% endfor %}
        </div>
    </div>
    
    <script type="text/javascript">
        // Pobranie danych JSON z kontekstu szablonu
        const testData = JSON.parse('{{ test|escapejs }}');

        // Użycie danych w JavaScript
        console.log(testData);
        const labels = testData.map(entry => entry.time);
        const data = testData.map(entry => entry.temp);

        // Utwórz wykres za pomocą Chart.js
        var ctx = document.getElementById('myChart').getContext('2d');
        var temperatureChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Temperature',
                    data: data,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}